
body {
    background-image: url(./hands-home-couple-with-pasta-cooking-process-with-nutrition-organic-dinner-wellness-closeup-ceramic-bowls-people-kitchen-healthy-meal-serve-with-cheese-italian-food_590464-523727.avif);
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.menu-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
#hero{
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}
.content{
    color: #000;
}
.cont{
    height: 30%;
    overflow: hidden;
    background-color: #ffffff;

}
.menu-card {
    background: white;
    width: 200px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s;
}

.menu-card:hover {
    transform: scale(1.05);
}

.menu-card img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 10px;
}

button {
    background: orange;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

header {
    color: rgba(21, 18, 35, 0.952);
    text-align : center;
    padding: 20px;
    
}

.nav button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.nav button:hover {
    background-color: #4d99d7;
    color: white;
}

.page {
    display: none;
    text-align: center;
    color: rgb(199, 192, 192);
    padding: 30px;
}
.items {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-top: 50px;
}

.food {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid rgb(249, 246, 246);
    background-size: cover;
    background-position: center;
}

#food1 { background-image: url("./images.jpg"); }
#food2 { background-image: url("./Fried-Chicken.jpg"); }
#food3 { background-image: url("./MSG-Smash-Burger-FT-RECIPE0124-d9682401f3554ef683e24311abdf342b.jpg"); }
#food4 { background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzEqZ9bZtzOUYpNDlXSmB9DOJ1szsKpT3MDQ&s"); }

/* FORM STYLE */
input {
    padding: 10px;
    width: 250px;
    margin: 8px;
    border-radius: 5px;
    border: none;
    display: inline-block;

}

.form-box {
    border: #4d99d7 2px solid;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: auto;
}

@keyframes pop {
    0% { transform: scale(1); }
    50% { transform: scale(1.3) rotate(10deg); }
    100% { transform: scale(1); }
}

.animate-order {
    animation: pop 0.5s ease;
}

